  	<header>
  		<div class='container'>
  			<div class='row'>
  				<div class='col-sm-6 text-center'>
  					<div class="page-header">
  						<h1>Weather!</h1>
  					</div>
  				</div>
  				<div class='col-sm-6 text-center'>
  					<div class="page-header">
	  					<form action='/accounts' method='get'>
	  						<button type="submit" class="btn btn-primary btn-md">Log In/Sign Up</button>
	  					</form>
  					</div>
  				</div>
  			</div>
  			<div class='row'>
				<nav class="navbar navbar-default">
		  			<div class="container-fluid">
					    <!-- Brand and toggle get grouped for better mobile display -->
					    <div class="navbar-header">
			      			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        			<span class="sr-only">Toggle navigation</span>
			        			<span class="icon-bar"></span>
			        			<span class="icon-bar"></span>
			        			<span class="icon-bar"></span>
			      			</button>
			      			<a class="navbar-brand" href="/weather">Weather!</a>
			    		</div>

			    		<!-- Collect the nav links, forms, and other content for toggling -->
			    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      			<form class="navbar-form navbar-left" role="search" action='/weather/input' method='post'>
			        			<div class="form-group">
			          				<input type="text" class="form-control" placeholder="Search city or Zip" name='area'>
			        			</div>
			        			<button type="submit" class="btn btn-danger">Submit</button>
		      				</form>
			      			<ul class="nav navbar-nav">
				        		<li><a href="/todayweather">Today</a></li>
				        		<li><a href="/hourlyweather">Hourly</a></li>
				        		<li><a href="/fiveDayWeather">Daily</a></li>
				        		<li><a href="/yearlyWeather">Year to Year Comparison</a></li>
				        		<li class='active'><a href="/searchHistory">Search History</a></li>
			      			</ul>
			    		</div><!-- /.navbar-collapse -->
		  			</div><!-- /.container-fluid -->
				</nav>
  			</div>
  		</div>
  	</header>

<div class='container'>
	<div class='row'>
		<h1 class='text-center'>{{searchHistory}}</h1>
	</div>
	<div class='row'>
		<table class='table'>
			<thead>
				<tr>
					<th>Date</th>
					<th>Location</th>
				</tr>
			</thead>
			<tbody>
				{{#each searchLoop}}
					<tr>
						<th>{{date}}</th>
						<th>{{location}}</th>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>