<div class='container'>
	<div class='row'>
		<h1 class='text-center'>Welcome to Super Weather!</h1>
	</div>
	<div class='row'>
		<h3 class='text-center'>To get started, enter your location above.</h3>
	</div>
</div>